body {
    color: #FFFFFF;
    display: flex;
}

.interactive-font {
    margin-bottom: 20%;
    height: 100%;
    color: white;
    display: -webkit-box;
    float: left;
}

.Words {
    margin: 0 auto;
    padding: 80px 0;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 68px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
}

.Words-line {
    height: 50px;
    overflow: hidden;
    position: relative;
}

.Words-line:nth-child(odd) {
    -webkit-transform: skew(60deg, -30deg) scaleY(0.66667);
    transform: skew(60deg, -30deg) scaleY(0.66667);
}

.Words-line:nth-child(even) {
    -webkit-transform: skew(0deg, -30deg) scaleY(1.33333);
    transform: skew(0deg, -30deg) scaleY(1.33333);
}

.Words-line:nth-child(1) {
    left: 29px;
}

.Words-line:nth-child(2) {
    left: 58px;
}

.Words-line:nth-child(3) {
    left: 87px;
}

.Words-line:nth-child(4) {
    left: 116px;
}

.Words-line:nth-child(5) {
    left: 145px;
}

.Words-line:nth-child(6) {
    left: 174px;
}

.Words-line:nth-child(7) {
    left: 203px;
}

p {
    height: 50px;
    line-height: 45px;
    padding: 0 10px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    vertical-align: top;
    white-space: nowrap;
}

.Words:hover p {
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
}